div.title-box
    img(src="logo.png")
    div
        h1 YTFetch
        nav
            a(href="/") Home
            a(href="/about") About
            a(href="https://github.com/angelotrabuco2013/YTFetch" target="_blank" rel="noopener") GitHub
