doctype html
html(lang="en")
    head
        title YTFetch
        meta(name="description" content="Fetches YouTube videos from the API and saves it as an local file.")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="style.css")
        link(rel="icon" type="image/png" href="/logo.png")
    body
        div.responsive
            include partials/titlebox
            block content
