extends _layout

block content
    div.center
        h1 Fetches YouTube videos from the API and saves it as a local file.
        h2 All Video and Audio Tracks + Thumbnails

        form
            input(type="url" placeholder="Paste a YouTube video URL" name="url")
            button Fetch
